/* ********************************************** page apropos.html *************************************** */
/* bare de navigation fixe */
header{
    position: fixed;
    z-index: 2;
}
/* -------------------------  intro à la page apropos --------------------*/
#container{
    background-image: url("../images/oliver-rowlan1.jpg"), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
    height: 25rem;
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
}

#salute{
    margin-top: 5%;
    border: 3px solid white;
    padding: 2rem;
    background-color: rgba(0,0,0,0.5);
}

#container #salute span{
    color: #DDAD03;
}

/* ------------------------- contenu de la page apropos --------------------*/
main #apropos{
    align-items: center;
    justify-content: space-around;
    color: black;
    width: 70%;
    margin-left: 15%;
    padding-top: 3rem;
}
  
main span{
    display: inline-block;
    font-size: 24pt;
    font-weight: 400;
    letter-spacing: 0.07rem;
}

/***************** presentation *******************/
#apropos .presentation{
    height: 100%;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 1rem;
}

/****************************** contact **********************************/
main #contact{
    padding-bottom: 1rem;
    padding-top: 2.5rem;
    line-height: 2;
}

#contact p{
    margin-bottom: 1rem;
}
  
#contact .mailing-form{
    display: inline-block;
    width: 100%;
}
  
#contact input[type=text], input[type=email], textarea{
    display: block;
    width: 40rem;
    padding: 0.8rem;
    border: 0.12rem solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
}
  
#contact textarea{
    height: 3rem;
}
  
#contact .label-check{
    display: inline-block;
    max-width: 650px;
}
  
#contact .button{
    width: 100px;
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
  
#contact .button:hover{
    background-color: grey;
}
  
.obligatoire{
    display: inline;
    color: red;
    font-size: 1.2rem;
}
  
#contact form span{
    display: block;
    font-size: 0.85rem;
    color: red;
    margin-top: 1rem;
}

label{
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
}
/* --------------- responsive design ------------- */
@media screen and (max-width:60rem){
    main span{
        font-size: 22px;
    }
    #apropos span{
        font-size: 26px;
    }
    #contact input[type=text], input[type=email], textarea{
        width: 100%;
    }
}

@media screen and (max-width:30rem){
    #container{
        height: 15rem;
    }
    main span{
        font-size: 20px;
    }
    #salute{
        padding: 1rem;
    }
    main #apropos{
        width: 90%;
        margin-left: 5%;
    }
    #apropos span{
        font-size: 23px;
    }
    #contact input[type=text], input[type=email], textarea{
        width: 100%;
    }
}