/*------------------------------ Styles des éléments partagés par toutes les pages ------------------*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    letter-spacing: 0.06rem;
}

html{
    scroll-behavior: smooth ;
    font-family: 'Poppins';
}

.wrapper {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* on mettra la class wrapper à l'interieur de toutes les divs
    afin que le contenu de toutes les divs ne depasse pas 1200px 
    et qu'il soit centré avec le margin 0 auto*/
}

li{
    list-style-type: none;
}
    
a{
    text-decoration: none;
    color: inherit;
}

p{
    text-align: justify;
    margin-bottom: 0.9rem;
}

/*écriture de f1 univers dans les paragraphes*/
.special{
    font-size:20px;
    font-weight: bolder;
}

/* logo partagé entre le header et le footer */
#logo a, .nav-logo a{
    display: flex;
    color: white;
    padding: 0.3rem 0;
    font-weight: bolder;
    text-align: center;
}

#logo img, .nav-logo img{
    width: 100%;
    height: 100%;
    display: inline;
}
/*--------------------------------------------------- header -------------------------------------------*/
header{
    top:0;
    text-align:center;
    width:100%;
    display: flex;
    background-color: #222222;
    letter-spacing: 0.07rem;
    justify-content: space-between;
    padding: 0.55rem 1.1rem;
    min-height: 3vh;
    border-bottom: 2px solid #DDAD03;
}

/*------------------------ header logo --------------------*/
header #logo img{
    width: 4rem;
    height: 0.9rem;
    margin-top: 8px;
}

/*------------------------ navigation bar links -------------------*/
nav{margin-top: 4px;}
nav li{
    color:white;
    padding: 0 0.7rem;
    font-size: 14px;
}

/*effet souligné quand on survole un lien  dans le nav bar*/
nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #fff;
    transition: width 0.3s;
}

/* le lien de la page actuelle aura une écriture épaisse 
comme indication qu'on est sur cette page là*/
nav li a.active{
    color: white;
    border-bottom: 2px solid white;
}

nav li a:hover{color:#fff;}

/*transition de l'effet souligné*/
nav li a:hover::after{
    width: 100%;
}

/*petit espace à la droite de chaque icone de la barre de navigation*/
nav li i {margin-right: 2px;}

/*--sous menu de navigation--*/
nav ul li ul {
    display: none;
    background-color: #222222;
    transition: height 0.2s;
    border-radius: 0 0 0.3rem 0.3rem;
    margin-top: -0.5px;
    padding-top: 0.6rem;
}

/*faire apparaitre le sous menu de navigation quand on survole le lien qui lui est associé*/
nav ul li:hover ul {
    display:block;
    width:auto;
    height:auto;
}

nav ul li ul li {
    width:100%;
    border-bottom:1px solid rgba(255,255,255,.3);
    padding: 11px;
}  

.navbouton{display:none;}

/*---propriétes de barre de navigation quand le width >=950px (menu de navigation non-réduit)---*/
@media screen and (min-width: 950px){
    nav ul li:hover ul {
        position: absolute;
    }
    /* masquer les 3 traits du menu reduit*/
    .navbouton-label{
        display: none;
    }

    /*le logo est à gauche quand la fenetre est grande*/
    #logo{ float: left; }

    header nav ul{
        display:flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-top: 2px;
    }

    header nav ul li {
        position:relative;
        float:left;
    }
}

/*propriétes du menu de navigation quand le width <= 950px( fenetre réduite) */
@media screen and (max-width:950px){
    header{
        position: fixed;
        z-index: 2;
        background: #000;
        opacity: 0.8;
        display: block;
        color: white;
    }
      
    #logo{margin-left: 35%;}

    /* le grand trait jaune qu'on voit avant la navbarre*/
    header nav::before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #DDAD03;
    }

    /*le menu de navigation réduit*/
    header nav{
        position: absolute;
        top:100%;
        left:0;
        text-align:left;
        background:#000;
        width:100%;
        transform: scale(1,0);
        -webkit-transform: scale(1,0); 
        transition: transform 400ms ease-in-out;
        transform-origin: top;
    }

    header nav ul li a{font-size: 13px;}
    header nav ul li {
        padding: 10px 5px;
        width: 120px;
    }
    nav ul li ul li{margin-left: 20px}
    
    /* apparition du nav barre + effet de transition dan l'apparition*/
    .navbouton:checked ~ nav{transform: scale(1,1);}

    /* les 3 traits du nav bar réduit*/
    .navbouton-label{    
        position: absolute;
        top:0;
        left:0;
        margin-left:1em;
        height:100%;
        display:flex;
        align-items:center; 
    }
    .navbouton-label span,
    .navbouton-label span::before,
    .navbouton-label span::after{  
        display:block;
        background:white;
        width:2em;
        height:2px;
        border-radius:2px;
        position:relative;
    }
    .navbouton-label span::before,
    .navbouton-label span::after{
        content:'';
        position:absolute;
    }
    .navbouton-label span::before{
        bottom:7px;
    }
    .navbouton-label span::after{
        top:7px;
    }
}


/*--------------------------------------------------- footer -------------------------------------------*/
footer{
    text-align: center;
    line-height: 2rem;
    color: #8d897d;
}

#footer-nav{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    text-align: left;
    background-color: #111111;
}

/*-------------------------- footer logo ----------------------*/
footer .nav-logo{
    margin-right: 3rem;
}

footer .nav-logo img{
    width: 5rem;
    height: 1.2rem;
    margin-top: 6px;
}
 
/*--------------------- footer navigation bar ------------------*/
#footer-nav-bar{
    width: 47%;
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
}

#nav-bar1{
    margin-left: 2rem;
}

#nav-bar1 a:hover{
    text-decoration: underline;
    color: white;
}

/*----------------------- footer copyright --------------------*/
#copyrightEtIcons{
    padding: 1rem 3rem 0 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

#copyright p{
    font-size: small;
}

#icons a{ 
    padding: 0 5px;
    color:#8d897d;
    display: inline-block;
}

#icons a i {
    font-size: 23px;
}

#icons a i:hover{ 
    color: white;
    transform: scale(1.5);
    transition: 0.1s;
}

/* ==================== responsive footer ====================*/
/*le footer quand la fenetre est vraiment reduite */
/*la largeur pour petite tablette et grand telephone*/
@media screen and (max-width:60rem)
{
    #footer-nav{
        padding: 3rem 1rem;
    }
    #footer-nav, #footer-nav-bar{
        display: flex;
        flex-wrap: wrap;
    }
    #nav-bar1{
        margin-left: 0;
    }
    #icons a i {
    font-size: 18px;
    }
    footer .nav-logo{
        margin-right: none;
    }
    footer .nav-logo a{
        margin-bottom: 1rem;
    }
    footer .nav-logo h1{
        font-size: 23px;
    }
    #copyrightEtIcons{
        padding: 1rem 1rem;
    }
    footer .nav-logo img{
        width: 3.5rem;
        height: 0.9rem;
        margin-top: 7.5px;
    }
}

@media screen and (max-width:35rem)
{
    #copyrightEtIcons{
        display: block;
    }
}